$brand-font-family: "Arial,Helvetica,sans-serif";
$brand-font-size: 14px;
$brand-line-height: (20px / $brand-font-size);

$body-bg-color: #fff;
$brand-color: #0d88f0;
$brand-text-color: #333;

$tablet-breakpoint: 768px;